apiVersion: v2
name: cilium
displayName: Cilium
home: https://cilium.io/
version: 1.4.0
appVersion: 1.19.0
kubeVersion: ">= 1.21.0-0"
icon: https://s.giantswarm.io/app-icons/cilium/1/light.svg
description: eBPF-based Networking, Security, and Observability
keywords:
  - BPF
  - eBPF
  - Kubernetes
  - Networking
  - Security
  - Observability
  - Troubleshooting
sources:
  - https://github.com/giantswarm/cilium-app
  - https://github.com/cilium/cilium
links:
  - name: eBPF.io
    url: https://ebpf.io/
annotations:
  application.giantswarm.io/team: "cabbage"
dependencies:
  - name: cilium-giantswarm-cni-customconf
    version: 0.1.0
    alias: cniCustomConf
    condition: cni.customConf
